@model ThanhAn_Group.DAL.Models.Baiviet

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Areas/Admin/Views/Shared/Layout_Admin.cshtml";
}

<h1>Detail</h1>

<div>
    <h4>Baiviet</h4>
    <hr />
    <dl class="row a" >
       

     
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Contents)
        </dt>
        <dd class = "col-sm-10 sImages">
            @Html.Raw(@Model.Contents)
        </dd>
       }
    </dl>
</div>
<div>

    <a href="/Admin/Article/Index">Quay Lại</a>
</div>
