
@{
    ViewData["Title"] = "Intro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main>
    <div class="container-fluid p-0 text-white v-slide">
        <div class="et-header" style="background-image: url('/Client/image/bg-gioi-thieu.jpg')">
            <div class="container">
                <div class="bg-box"></div>
                <div class="row justify-content-center align-items-center">
                    <div class="col-md-12 hr-left">
                        <h1 class="name-page text-uppercase">giới thiệu về</h1>
                        <h2 class="text-header">TAG</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="about">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pd-0">
                    <div class="about-step-1">
                        <h3>SỨ MỆNH THƯƠNG HIỆU</h3>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis eos ipsum atque
                            similique eligendi, perspiciatis ad quaerat, placeat neque maxime officia ea. Sapiente
                            nesciunt laborum fugiat necessitatibus adipisci, vel eum, maxime velit accusamus dolorum
                            incidunt ratione explicabo nostrum ad distinctio commodi blanditiis, quo libero eveniet.
                            Quibusdam nisi quis eius aliquid.
                        </p>
                        <p>&nbsp;</p>
                    </div>
                </div>
                <div class="col-md-6 pd-0">
                    <div class="about-step-2">
                        <img src="~/Client/image/gioithieu2.jpg" alt=" " />
                    </div>
                </div>
            </div>
            <div class="row flex-wrap-reverse-max">
                <div class="col-md-6 pd-0">
                    <div class="about-step-3">
                        <img src="~/Client/image/gioithieu.png" alt=" " />
                    </div>
                </div>
                <div class="col-md-6 pd-0">
                    <div class="about-step-4">
                        <h3><span>TẦM NHÌN </span> THƯƠNG HIỆU</h3>
                        <p>
                            <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                Lorem
                                ipsum dolor sit amet consectetur adipisicing elit. Facere sequi tempore a sint
                                dolorem alias ex, magni error sunt, architecto ipsum excepturi saepe optio ratione,
                                tenetur dolor modi tempora maxime. Optio numquam quae cumque consequuntur labore
                                excepturi ratione praesentium totam dolor rem reprehenderit impedit rerum aliquam,
                                dolorem ipsa ab doloribus.
                            </span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container remove-bottom-space">
            <div class="row">
                <h3 class="about-core-title"><span>GIÁ TRỊ </span>CỐT LÕI</h3>
                <div class="about-core">
                    <ul>
                        <li>
                            <div class="core">
                                <img src="~/Client/image/giatri1.png" alt=" " />
                                <h5 class="core-title">Lấy khách hàng làm trung tâm</h5>
                                <div class="core-ex">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="core">
                                <img src="~/Client/image/giatri2.png"
                                     alt=" " />
                                <h5 class="core-title">Quyết liệt</h5>
                                <div class="core-ex">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="core">
                                <img src="~/Client/image/giatri3.png"
                                     alt=" " />
                                <h5 class="core-title">Gắn kết tập thể</h5>
                                <div class="core-ex">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="core">
                                <img src="~/Client/image/giatri4.png"
                                     alt=" " />
                                <h5 class="core-title">Chuyên nghiệp</h5>
                                <div class="core-ex">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="core">
                                <img src="~/Client/image/giatri5.png"
                                     alt=" " />
                                <h5 class="core-title">Hội nhập</h5>
                                <div class="core-ex">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="bg-strategy overflow-hidden">
            <div class="container">
                <div class="strategy">
                    <div class="content">
                        <h3><span>CHIẾN LƯỢC </span>PHÁT TRIỂN</h3>
                        <img src="~/Client/image/logo-TAG-ngang-2000x267.png" alt=" " />
                        <div class="about-ex">
                            <p>
                                <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                    Lorem
                                    ipsum dolor sit amet consectetur, adipisicing elit. Error recusandae mollitia
                                    et, nihil eaque vel blanditiis! Aliquid necessitatibus adipisci cumque est
                                    totam? Praesentium nam quidem dicta delectus esse! Natus illo earum
                                    exercitationem, molestiae sed, laborum rerum esse dolores iste minima laudantium
                                    labore reprehenderit nemo sit. Cum recusandae tempore accusamus ipsum? Accusamus
                                    earum quisquam sed expedita vero nisi nihil itaque esse corporis, distinctio,
                                    eum unde quibusdam id! Eos ullam perspiciatis ducimus soluta molestias suscipit
                                    ipsum. Eaque itaque quae exercitationem possimus aspernatur.
                                </span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="bg-enterprise">
            <div class="container">
                <div class="enterprise">
                    <div class="row">
                        <div class="col-md-6">
                            <h3><span>VĂN HÓA </span>DOANH NGHIỆP</h3>
                        </div>
                        <div class="col-md-6">
                            <div class="enterprise-ex">
                                <p>
                                    <em>
                                        Văn hóa<span style="color: var(--colorTheme)"><strong> TAG</strong></span> là văn
                                        hóa<strong> THÚC ĐẨY SỰ TIẾN BỘ</strong>
                                    </em>
                                </p>
                                <p>
                                    <em>Khởi đầu bằng việc <strong>LẤY KHÁCH HÀNG LÀM TRUNG TÂM</strong></em>
                                </p>
                                <p>
                                    <em>
                                        <strong>QUYẾT LIỆT</strong> để hiện thực hóa những mục tiêu thách thức và
                                        tham vọng
                                    </em>
                                </p>
                                <p>
                                    <em>Bằng một tập thể <strong>GẮN KẾT</strong></em>
                                </p>
                                <p>
                                    <em>Những con người <strong>CHUYÊN NGHIỆP</strong></em>
                                </p>
                                <p>
                                    <em>Mang giá trị Việt <strong>HỘI NHẬP</strong> toàn cầu.</em>
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="row bottom-space">
                        <div class="col-md-4">
                            <div class="item-enterprise">
                                <div class="img-item-enterprise fix-t">
                                    <img src="~/Client/image/vanhoa1.png" alt=" " />
                                </div>
                                <div class="content-item-enterprise">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-enterprise">
                                <div class="content-item-enterprise">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                                <div class="img-item-enterprise fix-b">
                                    <img src="~/Client/image/vanhoa2.png" />
                                   
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="item-enterprise">
                                <div class="img-item-enterprise fix-t">
                                    <img src="~/Client/image/phanphoi.png" />
                                    
                                </div>
                                <div class="content-item-enterprise">
                                    <p>
                                        <span style="background-color: #ffffff;color: #2e3e4b;font-size: 16px; text-align: justify;">
                                            Lorem
                                            ipsum dolor sit amet, consectetur adipisicing elit. Inventore, eveniet
                                            quod minima numquam dolores modi, rerum quas doloribus similique
                                            adipisci sunt obcaecati ipsum mollitia laboriosam atque est quia aperiam
                                            odit!
                                        </span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

